@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/**********************************header*/

header {
    margin: 0;
} 

.container-fluid {
    padding: 0;
    height: 240px;

}

.background-header {
    background-image: url("../images/background-header.bmp");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    min-height: 240px;
    position: absolute;
}

.background-header-box {
    min-height: 240px;
}

.background-footer {
    background-color: #0000ff;
    min-height: 240px;
}

.datum-locatie-header {
    position: relative;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 38px;
    color: #f6c4c4;
    margin: 50px 48px 24px 48px;
}

.menucontainer {
    font-size: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.list-inline-item a {
    color: #f6dfdf;
}

#nav li {
    font-size: 24px;
    padding: 0;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
}

#nav li a:hover {
  color: black;
  text-decoration: none;
}

#nav li a.active {
  color: black;
}

.navigation-header {
    position: relative;
    top: 120px;
    right: 0;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 767px) {
  .navigation-header {
    top: 0px;
  }

  .menuitem span {
    text-align: center;
}
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
}
/*--------------------------------Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.text-style {
    border-width: 10px;
    border-color: rgba(255,105,10, 1);
    border-style: solid;
    padding: 20px;
    padding-left: 50px; 
    background-color: rgba(255,105,10, 0.5);
}

.padding {
    padding-left: 30px;
    padding-right: 20px;
}

h2 {
    font-size: 16px;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
    text-align: center;
}

section div p {
    font-size: 14px;
    font-family: "Oswald" , sans-serif;
    font-weight: 300;
    text-align: center;
}

/*--------------------------------section pictures layout Home*/

.picture-big-groepsfoto2 {
    background-image: url("../images/groepsfoto2.bmp");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.animation div div:hover{
    animation-name: pictures;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.picture-big-outer-600 {
    height: 600px;
    overflow: hidden;
}

@keyframes pictures {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

.picture-small-auto1 {
    background-image: url("../images/auto1.bmp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    height: 300px;
}

.picture-small-girls1 {
    background-image: url("../images/girls1.bmp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    height: 300px;
}

.picture-small-outer-300 {
    height: 300px;
    overflow: hidden;
}

.picture-small-outer-300-abs {
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 540px;
    right: 0;
}

@media only screen and (max-width: 767px) {
.picture-small-outer-300-abs {
    position: relative;
    top: 0;
}

.picture-small-girls1 {
    position: relative;
    top: 0;
    }
.picture-big-groepsfoto2 {
    background-size: cover;
    height: 300px;
}

.picture-big-outer-600 {
    height: 300px;
}

}

.video-size {
   min-height: 300px;
   min-width: 600px;
}

/*--------------------------------section pictures layout Ticket*/

.picture-container {
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);

}

.picture-big-camping {
    background-image: url("../images/camping-opbouw.bmp");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 800px;
}

.picture-big-champagne {
    background-image: url("../images/camping-champagne.bmp");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 800px;
    margin: 50px;
}

.picture-big-outer-400 {
    height: 400px;
    overflow: hidden;
}

.picture-big-outer-800 {
    height: 900px;
    overflow: hidden;
}

@media only screen and (max-width: 1050px) {

.picture-big-outer-800 {
    height: 800px;
}
}

@media only screen and (max-width: 900px) {
.picture-big-outer-400 {
    height: 300px;
}

.picture-big-champagne{
    margin: 0px;
}

.picture-big-outer-800 {
    height: 650px;
}
}

@media only screen and (max-width: 640px) {
.picture-big-outer-400 {
    height: 200px;
}

.picture-big-champagne{
    margin: 0px;
}

.picture-big-outer-800 {
    height: 600px;
}
}

@media only screen and (max-width: 430px) {
.picture-big-outer-400 {
    height: 150px;
}
}

/*--------------------------------footer layout*/

.social-link li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #fafafa;
    background-color: #000000;
}

.social-link li a i:hover {
    background-color: rgba(83, 79, 79, 0.848);
}

.social-link {
    padding: 30px 40px 20px;
}

.social-link li{
    padding: 10px 10px;
}

@media only screen and (max-width: 767px) {
.social-link li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #fafafa;
    background-color: #000000;
}

.social-link {
    padding: 20px 20px 10px;
}

}

.footer-jupiler {
    background-image: url("https://assets.rockwerchter.be/files/jup-white-5a05b1d939fa5.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}


.footer-cocacola {
    background-image: url("https://assets.rockwerchter.be/files/cocacola-5a05b1d94db4c.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}

.footer-proximus {
    background-image: url("https://assets.rockwerchter.be/files/proximus-5a05b1d9a1b56.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}

.footer-stubru {
    background-image: url("https://assets.rockwerchter.be/files/stubru-wit-5c5c4dc102fd1.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}

.footer-pickx {
    background-image: url("https://assets.rockwerchter.be/files/pickx-white-5d024384abe8f.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}

.footer-winforlife {
    background-image: url("https://assets.rockwerchter.be/files/winforlife-5a745f0064d2f.png?v32.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 50px;
    min-width: 100px;
}

.sponsor li {
    padding: 20px 20px 10px;
}


/*--------------------------------tickets form layout*/


.signup-form {
    color: #fff;
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    max-width: 500px;
    left: 15%;
    padding: 50px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width:100%;
    height: 25px;
    margin: 5px 0px 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgba(255, 105, 10, 1);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 105, 10, 1);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: rgba(100, 60, 250, 1);
    color: #fafafa;
}

@media only screen and (min-width: 1050px) {

.signup-form {
    position: relative;
    
}
}

@media only screen and (max-width: 640px) {
 ::placeholder {
  color: black;
  opacity: 1; 
}
}

