@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/**********************************header*/

header {
    margin: 0;
} 

/*banner layout*/
.background-header {
    background-image: url("../images/background-header.bmp");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    min-height: 240px;
    position: absolute;
}

/*Top left text box on top of banner*/
.background-header-box {
    min-height: 240px;
}

/*text style top left text box*/
.datum-locatie-header {
    position: relative;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 38px;
    color: #f6c4c4;
    margin: 50px 48px 24px 48px;
}

/*Navigation container, the linear gradient gives the nav bar its transparent background color*/
.menucontainer {
    font-size: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
}

/*nav bar margin*/
.list-inline-item:not(:last-child) {
    margin: 0;
}

/*nav bar text color*/
.list-inline-item a {
    color: #f6dfdf;
}

/*nav bar text style*/
#nav li {
    font-size: 24px;
    padding: 0;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
}

/*nav bar hover*/
#nav li a:hover {
  color: black;
  text-decoration: none;
}

/*nav bar active text page color*/
#nav li a.active {
  color: black;
}

/*Placing of the nav bar on top of the banner*/
.navigation-header {
    position: relative;
    top: 120px;
    right: 0;
    padding: 0;
    text-align: center;
}

/*On smaller screens the nav bar is placed under the banner*/
@media only screen and (max-width: 767px) {
  .navigation-header {
    top: 0px;
    }
}

/*Menu item placing*/
.menuitem span {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}
/*--------------------------------text box style*/

.uppercase {
    text-transform: uppercase;
}

/*General text box style for all pages*/
.text-style {
    border-width: 10px;
    border-color: rgba(255,105,10, 1);
    border-style: solid;
    padding: 20px;
    background-color: rgba(255,105,10, 0.5);
}

/*text box style for the festivalpark inner text box (ordered list)*/
.text-style-inside {
    border-width: 10px;
    border-color: rgba(255,105,10, 1);
    border-style: solid;
    padding-top: 20px;
    background-color: rgba(255,105,10, 0.5);
}

/*text style used for the band names on the line up page*/
.text-style-line-up {
    color: #f19090;
    text-shadow: 2px 2px #000000;
    padding-top: 15px;
}

/*general text h1 style*/
h1 {
    font-size: 24px;
    font-family: "Oswald" , sans-serif;
    font-weight: 600;
    text-align: center;
}

/*general text h2 style*/
h2 {
    font-size: 22px;
    font-family: "Oswald" , sans-serif;
    font-weight: 500;
    text-align: center;
}

/*general text p style*/
section div p {
    font-size: 18px;
    font-family: "Oswald" , sans-serif;
    font-weight: 300;
    text-align: center;
}

/*general text style used for the ordered list on the festivalpark page*/
.center {
    text-align: center;
    list-style-position: inside;
    font-size: 18px;
    font-family: "Oswald" , sans-serif;
    font-weight: 300;
    padding-left: 10px;
}

/*bigger fontsize for bigger screens*/
@media only screen and (min-width: 1200px) {
h1 {
    font-size: 32px;
    }

h2 {
    font-size: 30px;
    }

section div p {
    font-size: 24px;
    }

.center {
    font-size: 24px;
    }
}

/*--------------------------------section pictures layout Home*/

/*picture box to stop overflow from the animation*/
.picture-big-outer-600 {
    width: 100vw;
    height: 60vw;
    overflow: hidden;
}

/*picture box to stop overflow from the animation. box for the 2 pictures next to the big one*/
.picture-small-outer-300-outer {
    width: 50vw;
    height: 60vw;
    overflow: hidden;
}

/*picture box to stop overflow from the animation*/
.picture-small-outer-300 {
    width: 50vw;
    height: 30vw;
    overflow: hidden;
}

/*picture box to stop overflow from the animation*/
.picture-small-outer-200 {
    width: 40vw;
    overflow: hidden;
}

/*Styling of the picture that is in the picture-big-outer-600 box */
.picture-big-groepsfoto2 {
    background-image: url("../images/frontpage/groepsfoto2.bmp");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;    
    height: 115%;
}  

/*styling of the picture that is in the picture-big-outer-300 box top*/
.picture-small-girls1 {
    background-image: url("../images/frontpage/girls1.bmp");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 110%;    
}

/*styling of the picture that is in the picture-big-outer-300 box bottom*/
.picture-small-sleeping {
    background-image: url("../images/frontpage/sleeping.bmp");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;   
    height: 110%;
}

/*styling of the picture that is in the picture-big-outer-200 box left of the video*/
.picture-small-car-girl {
    background-image: url("../images/frontpage/car-girl.bmp");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;   
    height: 125%;
}

/*styling of the picture that is in the picture-big-outer-200 box right of the video*/
.picture-small-car-boy {
    background-image: url("../images/frontpage/car-boy.bmp");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;   
    height: 125%;
}

/*animation of the pictures in the home, festivalpark and line up page*/
.animation div div:hover{
    animation-name: pictures;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes pictures {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

/*The pictures and boxes are resized to make it look good on smaller screen sizes*/
@media only screen and (max-width: 575px) {

.picture-big-groepsfoto2 {
    background-image: url("../images/frontpage/groepsfoto2.bmp");
    background-size: cover;
    background-position: center;
    }

.picture-big-outer-600 {
    height: 60vh;
    overflow: hidden;
    }    

.picture-small-outer-300-outer {
    width: 100vw;
    height: 80vh;   
    }

.picture-small-outer-300 {
    width: 100vw;
    height: 40vh;
    }

.picture-small-girls1 {
    background-size: cover;  
    }

.picture-small-sleeping {
    background-size: cover;
    background-position: top;
    }

.picture-small-outer-200 {
    width: 40vw;
    height: 40vh;
    overflow: hidden;
    }

.picture-small-car-girl {
    background-size: cover;
    background-position: center;
    height: 100%;
    }

.picture-small-car-boy {
    background-size: cover;
    height: 100%;
    }    

}


/*--------------------------------footer social-link layout*/

/*footer background color*/
.background-footer {
    background-color: #0000ff;
    min-height: 240px;
}

/*The list items are put in the center of the column*/
.social-link {
    padding: 30px 40px 20px;
    text-align: center;
}

/*padding for the list item*/
.social-link li{
    padding: 10px 10px;
}

/*style and size of the icons*/
.social-link li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #fafafa;
    background-color: #000000;
}

/*when hovered over the background color becomes transparent grey*/
.social-link li a i:hover {
    background-color: rgba(83, 79, 79, 0.848);
}

/*icons become smaller for smaller screens*/
@media only screen and (max-width: 575px) {
.social-link li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 18px;
    }

.social-link {
    padding: 20px 20px 10px;
    }

}

/*Icons become bigger for bigger screens*/
@media only screen and (min-width: 1200px) {
.social-link li a i {
    width: 70px;
    height: 70px;
    padding: 20px 0;
    font-size: 30px;
    line-height: 30px;
    }

.social-link {
    padding: 40px 50px 20px;
    }

}

/*--------------------------------footer sponsor logo layout*/

/*The logo's are put in the center of the column*/
.sponsor {
    text-align: center;
}

/*padding for the list item*/
.sponsor li {
    padding: 20px 20px 10px;
}

/*General Logo style. The logo is put in the center of the 100*50 box at 75% to make them fit*/
.footer-logo-layout {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 50px;
    width: 100px;
}

/*Sponsor logo to be presented*/
.footer-jupiler-logo {
    background-image: url("https://assets.rockwerchter.be/files/jup-white-5a05b1d939fa5.png?v32.1");
}


.footer-cocacola-logo {
    background-image: url("https://assets.rockwerchter.be/files/cocacola-5a05b1d94db4c.png?v32.1");
}

.footer-proximus-logo {
    background-image: url("https://assets.rockwerchter.be/files/proximus-5a05b1d9a1b56.png?v32.1");    
}

.footer-stubru-logo {
    background-image: url("https://assets.rockwerchter.be/files/stubru-wit-5c5c4dc102fd1.png?v32.1");
}

.footer-pickx-logo {
    background-image: url("https://assets.rockwerchter.be/files/pickx-white-5d024384abe8f.png?v32.1");
}

.footer-winforlife-logo {
    background-image: url("https://assets.rockwerchter.be/files/winforlife-5a745f0064d2f.png?v32.1");
}

/*--------------------------------section pictures layout Ticket*/

/*the linear gradient gives the ticket section its background color.*/
.picture-container {
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 1), rgba(255, 105, 10, 1) 100%);

}

/*The picture box scales with the screen size*/
.picture-big-outer-800 {
    width: 100vw;
    height: 72vw;
}

/*picture is put in the center and made to fit in the box*/
.picture-big-champagne {
    background-image: url("../images/tickets/camping-champagne.bmp");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;    
    height: 100%;
}

/*he picture box can not get smaller then this otherwise the form goes over the diclaimer text box*/
@media only screen and (max-width: 800px) {

.picture-big-outer-800 {
    height: 580px;
}
}


/*--------------------------------tickets form layout*/

/*the linear gradient gives the form its transparent background color.*/
.signup-form {
    color: #fff;
    background: -moz-linear-gradient(45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(100, 60, 250, 0.6), rgba(255, 105, 10, 0.6) 100%);
    width: 650px;
    padding: 150px;
}

/*form title*/
.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/*text input box style. When filled in the box background is "white" and the text black*/
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0px 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

/* text input box border turns orange when hovered over*/
.text-input:hover {
    border-color: rgba(255, 105, 10, 1);
}

/*general style of the "Let's Rock" button*/
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 105, 10, 1);
    color: #fafafa;
    display: block;
}

/*button turns blue when hovered over*/
.join-button:hover {
    background-color: rgba(100, 60, 250, 1);
}

/*the placeholder text in the text input box is black */
 ::placeholder {
   color: black;
   opacity: 1; 
}

/*The form is resized to keep it big enough but not to big*/
@media only screen and (max-width: 1200px) {

.signup-form {
    width: 600px;
    padding: 100px;   
    }
}

@media only screen and (max-width: 1050px) {

.signup-form {
    width: 500px;
    padding: 50px;   
    }
}

@media only screen and (max-width: 850px) {

.signup-form {
    width: 300px;
    padding: 25px;   
    }
}



/*--------------------------------section pictures layout Festivalpark*/

/*picture box that stops the animation from going over other pictures*/
.picture-big-outer-400 {
    height: 60vh;
    overflow: hidden;
}

/*makes the picture height smaller so that they look better on smaller screens*/
@media only screen and (max-width: 900px) {
.picture-big-outer-400 {
    height: 50vh;
    }
}

/*general line up picture style. picture is put in the center and covers the whole box*/
.picture-big {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

/*background picture to be presented*/
.picture-big-camping-opbouw {
    background-image: url("../images/festivalpark/camping-opbouw.bmp");
}

.picture-big-festivalpark-day {
    background-image: url("../images/festivalpark/festivalpark-day.bmp");
}

.picture-big-festivalpark-night {
    background-image: url("../images/festivalpark/festivalpark-night.bmp");
}

.picture-big-camping-joris {
    background-image: url("../images/festivalpark/camping-joris.bmp");
}

.picture-big-beerstack {
    background-image: url("../images/festivalpark/beerstack.bmp");
}

.picture-big-beerfrige {
    background-image: url("../images/festivalpark/beerfrige.bmp");
}


/*--------------------------------section pictures layout line up*/

/*picture box that stops the animation from going over other pictures*/
.picture-big-outer-100 {
    height: 40vh;
    overflow: hidden;

}

/*general line up picture style.picture is put in the center and made to fit in the box*/
.picture-line-up {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh; 
}

/*background picture to be presented*/
.picture-line-up-wc-experience {
    background-image: url("../images/line-up/wc-experience.bmp");
}

.picture-line-up-merol {
    background-image: url("../images/line-up/merol.bmp");
}

.picture-line-up-golden-earing {
    background-image: url("../images/line-up/golden-earing.bmp");
}

.picture-line-up-ragnbone {
    background-image: url("../images/line-up/ragnbone-web.bmp");
}

.picture-line-up-pearl-jam {
    background-image: url("../images/line-up/pearl-jam.bmp");
}

.picture-line-up-system-of-a-down {
    background-image: url("../images/line-up/system-of-a-down.bmp");
}